:root {
    --background-primary-color: #F5F5F5;
    --background-secondary-color: #F5F4FA;
    --primary-text-color: #757575;
    --headlines: #212121;
    --accent-color: #2196F3;
    --footer-background-color: #2F303A;
    --header-background-color: #FFFFFF;
    --logo-black-color: #000000;
}

.page {
    background-color: var(--background-primary-color);
    color: var(--primary-text-color);
    font-family: Roboto;
}

/* Header */

.header {
    background-color: var(--header-background-color);
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-black-color);

    text-decoration: none;

}

/* Site navigation list */

.site-nav-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style-type: none;
}

.link {
    color: var(--headlines);
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:current
 {
    color: var(--accent-color);
}

/* Contact list */

.contacts-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style-type: none; 
}

.email {
    color: var(--accent-color);
    text-decoration: none;
}

.tel {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Hero */

.hero {
    background-color: var(--footer-background-color);
    color: var();
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--header-background-color);
}

.primary-button {
    background-color: var(--accent-color);

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--header-background-color);
    border: transparent;
}

/* Benefits */

.benefit-head {
    color: transparent
}

.benefits-list {
    list-style-type: none;
}

.benefit-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--headlines);
}

.benefit-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* Tasks */

.tasks-head {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headlines);
}

.tasks-list {
    list-style-type: none;
}

/* Team */

.team {
    background-color: var(--background-secondary-color);
}

.team-head {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headlines);
}

.emploee-list {
    list-style-type: none;
}

.employee-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: var(--headlines);
}

.position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    letter-spacing: 0.03em;
}

/* Footer */

.footer {
    background-color: var(--footer-background-color);
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: var(--header-background-color);
    
    text-decoration: none;    
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--header-background-color);
}

.contacts-footer-list {
    list-style-type: none;
}

.footer-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

/* Main Portfolio */

.filter-list {
    list-style-type: none;
}

.secondary-buton {
    background-color: var(--background-secondary-color);
    border: transparent;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headlines);
}

.portfolio-head {
    color: transparent;
}

.portfolio-list {
    list-style-type: none;
}

.project-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: var(--headlines);
}

.project-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    }

/* background-primary-color: #F5F5F5 */
/* background-secondary-color: #F5F4FA */
/* primary-text-color: #757575 */
/* headlines: #212121 */
/* accent-color: #2196F3 */
/* footer-background-color: #2F303A */
/* header-background-color: #FFFFFF */
/* logo-black-color:#000000 */

